body {
    background-color: white;
}

p {
    color: gray;
    white-space: normal;
}

h1, h2 {
    text-align: center;
    font-family: serif;
}

#vg-map {
    justify-content: center;
    text-align: center;
}

#map-container {
    justify-content: center;
    text-align: center;
}

#help {
    margin-left: 50px;
}